@font-face {
   font-family: 'Erosx3d-Regular';
   font-display: swap;
   src: url('file:///C:/Users/Megaport/AppData/Local/Mobirise.com/Mobirise/projects/project-2022-01-15_140624/fonts/Erosx3d-Regular/font.ttf');
}
